* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(./images.jpg);
    height: 120vh;
    width: 100%;
    background-position: contain;
    background-size: cover;
    background-repeat: no-repeat;
}
img {
    width: 150px;
    height: 150px;
    position: relative;
    left: 35%;
    top: 8%;
    border: 3px solid aqua;
    border-radius: 150px;
}
.main {
    width: 500px;
    height: 500px;
    border: 1px solid #00fffb;
    border-radius: 20px;
    margin-top: 10%;
    margin-left: 35%;
    backdrop-filter: blur(15px);
    background: rgba( 255, 255, 255, 0.2);
    box-shadow: 0 0 20px #00fffb, 0 0 40px #0081bc;
}
.main_box {
    margin-left: 20%;
    margin-top: 10%;
    font-size: 20px;
}
.main_box p {
    position: relative;
    top: 20%;
    color:  rgb(237, 128, 174);
    font-size: 18px;
    margin: 5px;
}
input {
    background-color:  rgb(237, 128, 174);
    height: 20px;
    width: 300px;
    border: 1px solid #00fffb;
    box-shadow: 0 0 20px #00fffb, 0 0 40px #0081bc;
    border-radius: 10px;
}
.help1 {
    position: relative;
    text-decoration: none;
    color:  rgb(237, 128, 174);
    font-size: 15px;
    left: 35%;
}
.help2 {
    position: relative;
    text-decoration: none;
    color:  rgb(237, 128, 174);
    font-size: 15px;
}
.button-side {
    position: relative;
    margin-top: 5%;
    margin-left: 35%;
}
.button-side button {
    background-color: #00fffb;
    position: absolute;
    width: 150px;
    height: 35px;
    font-size: 20px;
    border: 3px solid  #00fffb;
    border-radius: 30px;
    box-shadow: 0 0 20px #00fffb, 0 0 40px #0081bc;
}
.button-side button a {
    text-decoration: none;
    color:rgb(141, 137, 137);
}
  

